<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:padding="8dp"
    android:id="@+id/keySettingsItemLayout">
    <TextView xmlns:tools="http://schemas.android.com/tools"
        android:text="Text"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/commandTextView"
        android:textSize="23sp"
        android:textStyle="bold"
        tools:text="Křapa"
        android:layout_marginLeft="20dp"
        android:layout_centerVertical="true" />
    <ImageView
        android:src="@drawable/warning"
        android:layout_width="30sp"
        android:layout_height="30sp"
        android:id="@+id/warningImageView"
        android:layout_alignParentRight="true"
        android:layout_centerVertical="true" />
    <TextView xmlns:tools="http://schemas.android.com/tools"
        android:text="Text"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/keyCodeTextView"
        android:textSize="23sp"
        android:textStyle="bold"
        tools:text="F1"
        android:background="@drawable/RectangleBorder"
        android:paddingLeft="15dp"
        android:paddingRight="15dp"
        android:paddingBottom="5dp"
        android:paddingTop="5dp"
        android:layout_toLeftOf="@id/warningImageView"
        android:layout_marginRight="5dp" />
</RelativeLayout>