<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <TextView xmlns:tools="http://schemas.android.com/tools"
        android:text="@string/PickerName"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/textView1"
        android:gravity="center_horizontal"
        android:textSize="22dp"
        tools:text="Jméno zadavatelky" />
    <EditText
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/pickerNameEditText"
        android:textSize="24dp" />
    <Button xmlns:p2="http://schemas.android.com/tools"
        android:text="@string/ButtonOK"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/OkButton"
        p2:text="OK" />
    <Button xmlns:tools="http://schemas.android.com/tools"
        android:text="@string/Cancel"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/cancelButton"
        tools:text="Zrušit" />
</LinearLayout>